.head {
  margin: 0 !important;
}
.head::after {
  display: none;
}
.model .madel-info .madel-info-tit {
  text-align: left !important;
  padding-left: 0 !important;
}
.model .madel-info h1::after {
  content: attr(data-desc);
  position: absolute;
  bottom: -12px;
  left: 0;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 24px !important;
  line-height: 130% !important;
  color: #ffb300;
}
.model .madel-info .madel-info-cat {
  justify-content: start !important;
  margin-bottom: 70px !important;
}
.model .madel-info .madel-info-cat li.active-cat {
  background: #fff !important;
  color: #424242 !important;
  border: 0.5px solid #424242 !important;
}
.model .madel-info .madel-info-list li:nth-child(odd) {
  background: #fff !important;
}
.model .madel-info .madel-info-list li {
  border-bottom: 1px solid #000000;
  padding: 17px 100px 17px 40px !important;
}
.model .madel-info .madel-info-list dl dt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* or 23px */

  color: #424242;
}
.model {
  min-height: 100vh;
}
.model-video {
  width: 55%;
  position: relative;
}
.video-player {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  position: absolute;
}
.model .madel-info .madel-info-list dl dd {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  color: #424242;
}

.model .slick-arrow {
  display: none !important;
}
.model .madel-info-back {
  margin: 80px 0 40px 0 !important;
}
.model__buttons {
  margin-top: 100px;
  display: flex;
  width: 482px;
  justify-content: space-between;
  padding: 0 15px;
}
.second_adaptive {
  display: none !important;
}
.model__btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  text-align: center;

  color: #ffffff;
  padding: 24px 50px;
  border: none;
  text-transform: uppercase;
}
.add {
  background: #42a5f5;
  transition-duration: 0.3s;
}
.add:hover {
  background: #ffb300;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.order {
  background: #ffb300;
  transition-duration: 0.3s;
}
.order:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.model__buttons .selected {
  background: #f1f1f1;
}
@media (max-width: 1000px) {
  .model__buttons {
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .add {
    margin-bottom: 20px;
  }
  .model-video {
    width: 100%;
  }
  .video-player {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    position: relative;
  }
  .model__btn {
    padding: 9px 37px !important;
    max-width: 167px;
    font-size: 13px !important;
  }
  .model .madel-info {
    order: 0 !important;
    margin-bottom: 0 !important;
  }
  .model .madel-info-back {
    text-align: left !important;
    margin: 40px 0 !important;
  }
  .model .madel-info .madel-info-tit {
    text-align: center !important;
    padding: 0 !important;
  }
  .model .madel-info h1::after {
    left: 38% !important;
  }
  .madel-slide {
    display: none !important;
  }
  .second_adaptive {
    display: block !important;
  }
  .model .madel-info .madel-info-list li {
    padding: 17px 40px !important;
  }
  .model__buttons {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .model .madel-info .madel-info-cat {
    justify-content: space-around !important;
  }
}

/* NEW DESIGN */

.model .madel-info-back a {
  font-size: 18px;
}
.model .madel-info-back a::before {
  width: 22px !important;
  height: 13px !important;
}
.model .madel-info .madel-info-tit {
  margin-top: 50px !important;
  margin-bottom: 70px !important;
}
.madel-info {
  padding-left: 80px !important;
}

.add_to_list_heart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.madel-info-tit {
  display: flex;
}
.add_to_list_heart {
  margin-left: 100px;
}
.add_to_list_heart path {
  stroke: black;
  fill: none;
}
.add_to_list_heart.selected path {
  fill: red;
  color: red;
  stroke: none;
}
.mdl__descriotion {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  color: #000000;
}
.mdl__spec_info .li {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
}
.mdl__spec_info p {
  font-weight: normal;
  font-size: 18px;
}
.mdl__spec_info {
  margin-top: 60px;
  display: flex;
  padding-left: 0;
  padding-right: 100px;
  justify-content: space-between;
}
.model-video {
  width: 800px !important;
}
.add_to_list_order {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* or 23px */
  text-transform: uppercase;

  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.model__buttons {
  padding: 0;
}
.add_to_list_order span {
  margin-right: 30px;
}
@media (max-width: 1769px) {
  .mdl__spec_info {
    padding-right: 0;
  }
  .model-video {
    width: 100% !important;
    padding-left: 50px;
  }
  .model {
    flex-wrap: nowrap !important;
  }
  .mdl__spec_info {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .model {
    flex-direction: column;
  }
  .madel-info {
    padding-left: 0 !important;
  }
  .mdl__spec_info {
    flex-direction: row;
  }
  .madel-info-tit {
    justify-content: space-between;
  }
  .add_to_list_heart {
    margin-left: 0;
  }
  .model-video {
    padding-left: 0;
    margin-top: 50px;
  }
}
@media (max-width: 690px) {
  .mdl__spec_info {
    flex-direction: column;
  }
}
.mobile {
  display: none !important;
}
